In [1]:
import pandas as pd #pandas

In [14]:
def print_(data):
    print(data, end='\n'+'*'*30+'\n')

In [ ]:
# series 1-D data( single column) 
#dataframes :2D data (tablur/Multicolumn)
#panel :3-D(multi  table data)# Rarely required

In [ ]:
#Creation/deletion/Manipultion
"""
1.Data description
  -pd.Series([5,6,7,8])
  -pd.Series([[3,4,5,6],[6,7,8,9]])
df.shape
df.ndmin
df.type
df.size
df.values
2.Statistical overview
     -s.min()/df
     -s.max()/df
     -s.std()df
     -df.corr()
     -s.quantile(0.25)
     -s.idxmax()
     -s.idxmin()
     -s.mean()
String based function
joining the data
sorting
function apllication
Iterations
Data visualization
File Handling
Missing data Treatment
Data Agregation & Grouping
"""

In [2]:
#Creation
s = pd.Series([90,40,60,87])
s

0    90
1    40
2    60
3    87
dtype: int64

In [9]:
print(type(s))
print(s.dtype)
print(s.shape)
print(s.ndim)
print(s.size)

<class 'pandas.core.series.Series'>
int64
(4,)
1
4

In [ ]:
s1 = pd.Series([4,2,7,8,9,3,5,7,6,8], name='data')
print_(s1[0])#acessing
print_(s1[:4])#slicing
s1[0] = 40
print_(s1)#modify
s1[12] = 50#insertion
print_(s1)
del s1[5]#deletion
print_(s1)

In [21]:
s2 = pd.Series(['a','b','hi','go'])
print(s)

0    90
1    40
2    60
3    87
dtype: int64

In [22]:
pd.Series([[3,4,5,6],[6,7,8,9],[2,5,4,3]])

0    [3, 4, 5, 6]
1    [6, 7, 8, 9]
2    [2, 5, 4, 3]
dtype: object

In [24]:
s3 = pd.Series({'a':34,'b':35, 'c':11,'d':89})
s3

a    34
b    35
c    11
d    89
dtype: int64

In [26]:
print(s3['a'])

34

In [27]:
df = pd.DataFrame([3,4,5,6,7])
df

   0
0  3
1  4
2  5
3  6
4  7

In [28]:
df1 = pd.DataFrame([[3,4],[5,6],[8,7]])
df1

   0  1
0  3  4
1  5  6
2  8  7

In [30]:
print_(df1.shape)
print_(df1.size)
print_(df1.ndim)

(3, 2)
******************************
6
******************************
2
******************************

In [36]:
df2 = pd.DataFrame({'a':[5,6,8],'b':[6,'nice',8],'c':[7,4,3],'d':[8,80,0.89],'e':'wow'})
df2

   a     b  c      d    e
0  5     6  7   8.00  wow
1  6  nice  4  80.00  wow
2  8     8  3   0.89  wow

In [41]:
# item acessing 
print(df2['a'])
print_(df2.loc[0])
print_(df2.T)
#bonus
print_(df2.values)

0    5
1    6
2    8
Name: a, dtype: int64
a      5
b      6
c      7
d    8.0
e    wow
Name: 0, dtype: object
******************************
     0     1     2
a    5     6     8
b    6  nice     8
c    7     4     3
d  8.0  80.0  0.89
e  wow   wow   wow
******************************
[[5 6 7 8.0 'wow']
 [6 'nice' 4 80.0 'wow']
 [8 8 3 0.89 'wow']]
******************************

In [44]:
df2['a'] = pd.Series([9,99,999])
df2

     a     b  c      d    e
0    9     6  7   8.00  wow
1   99  nice  4  80.00  wow
2  999     8  3   0.89  wow

In [45]:
del df2['d']
df2

     a     b  c    e
0    9     6  7  wow
1   99  nice  4  wow
2  999     8  3  wow

In [48]:
#Data Decription
print_(df2.info)
print_(df2.head)
print_(df2.tail)
print(df2.value_counts)
print_(df2.sample)
print_(df2.describe)

print_(s3.unique)
print_(s3.nunique)

<bound method DataFrame.info of      a     b  c    e
0    9     6  7  wow
1   99  nice  4  wow
2  999     8  3  wow>
******************************
<bound method NDFrame.head of      a     b  c    e
0    9     6  7  wow
1   99  nice  4  wow
2  999     8  3  wow>
******************************
<bound method NDFrame.tail of      a     b  c    e
0    9     6  7  wow
1   99  nice  4  wow
2  999     8  3  wow>
******************************
<bound method DataFrame.value_counts of      a     b  c    e
0    9     6  7  wow
1   99  nice  4  wow
2  999     8  3  wow>
<bound method NDFrame.sample of      a     b  c    e
0    9     6  7  wow
1   99  nice  4  wow
2  999     8  3  wow>
******************************
<bound method NDFrame.describe of      a     b  c    e
0    9     6  7  wow
1   99  nice  4  wow
2  999     8  3  wow>
******************************
<bound method Series.unique of a    34
b    35
c    11
d    89
dtype: int64>
******************************
<bound method IndexOpsMixin.nunique of a    34
b    35
c    11
d    89
dtype: int64>
******************************

In [49]:
print_(df2.describe(include='all'))

                 a    b         c    e
count     3.000000  3.0  3.000000    3
unique         NaN  3.0       NaN    1
top            NaN  6.0       NaN  wow
freq           NaN  1.0       NaN    3
mean    369.000000  NaN  4.666667  NaN
std     547.448628  NaN  2.081666  NaN
min       9.000000  NaN  3.000000  NaN
25%      54.000000  NaN  3.500000  NaN
50%      99.000000  NaN  4.000000  NaN
75%     549.000000  NaN  5.500000  NaN
max     999.000000  NaN  7.000000  NaN
******************************