In [7]:
p=input('enter the number')
print(p)
print(eval(p))

5+5
10

In [63]:
# Mutability
s= 'hello, this is a new process'
print(s)

hello, this is a new process

In [64]:
len(s)

28

In [65]:
type(s)

str

In [66]:
s[0]

'h'

In [67]:
s[-2]

's'

In [68]:
# slicing- begin: and end (exclusive):step size}
s[0:5:1]

'hello'

In [69]:
s[-7:28:1]

'process'

In [70]:
s[-1:-8:-1]

'ssecorp'

In [71]:
s[10:-22:-1]

'siht'

In [35]:
s[15:-33:-8]

'at'

In [72]:
s[::-1]

'ssecorp wen a si siht ,olleh'

In [73]:
s[::1]

'hello, this is a new process'

In [74]:
10*10

100

In [44]:
'hi'*10

'hihihihihihihihihihi'

In [61]:
"hi"+"bye"

'hibye'

In [75]:
s +=' here'
s

'hello, this is a new process here'

In [76]:
s = s[:5] + ' ankit' + s[5:]
s

'hello ankit, this is a new process here'

In [77]:

s

'hello ankit, this is a new process here'

In [57]:
s[0]='k'

TypeError: 'str' object does not support item assignment

In [52]:
del s[0]

TypeError: 'str' object doesn't support item deletion

In [78]:
[4,7,8] * 2

[4, 7, 8, 4, 7, 8]

In [91]:
a=[2,3,4]

In [92]:
a

[2, 3, 4]

In [93]:
a+=[10,20]

In [94]:
a

[2, 3, 4, 10, 20]

In [96]:
a+='hello'
a

[2, 3, 4, 10, 20, 'h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o']

In [97]:
del a[9]

In [98]:
a

[2, 3, 4, 10, 20, 'h', 'e', 'l', 'l', 'h', 'e', 'l', 'l', 'o']

In [99]:
a[0]=4.5
a

[4.5, 3, 4, 10, 20, 'h', 'e', 'l', 'l', 'h', 'e', 'l', 'l', 'o']

In [100]:
tuple=(10,20,30)
tuple

(10, 20, 30)

In [101]:
tuple += "hello"

TypeError: can only concatenate tuple (not "str") to tuple

In [102]:
tuple +='45'

TypeError: can only concatenate tuple (not "str") to tuple

In [107]:
tuple +=(5,6,7)
tuple

(10, 20, 30, 5, 6, 7, 5, 6, 7)

In [105]:
del tuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [108]:
a += tuple

In [109]:
tuple

(10, 20, 30, 5, 6, 7, 5, 6, 7)

In [110]:
a

[4.5,
 3,
 4,
 10,
 20,
 'h',
 'e',
 'l',
 'l',
 'h',
 'e',
 'l',
 'l',
 'o',
 10,
 20,
 30,
 5,
 6,
 7,
 5,
 6,
 7]

In [112]:
a=[4,5,6,'hii']

In [113]:
a

[4, 5, 6, 'hii']

In [114]:
a +={'a1':4,'b1':5}
a

[4, 5, 6, 'hii', 'a1', 'b1']

In [115]:
a += {7,89,0}

In [116]:
a

[4, 5, 6, 'hii', 'a1', 'b1', 0, 89, 7]

In [121]:
a ={'a1':4,'b1':5}
print(a)
print(len(a))
print(type(a))
print(a['a1'])

{'a1': 4, 'b1': 5}
2
<class 'dict'>
4

In [122]:
a

{'a1': 4, 'b1': 5}

In [123]:
a['d1']=[9,8,7]
a

{'a1': 4, 'b1': 5, 'd1': [9, 8, 7]}

In [125]:
a['b1']='hiiii'
a

{'a1': 4, 'b1': 'hiiii', 'd1': [9, 8, 7]}

In [127]:
del a['a1']

In [128]:
e={4,5,6,4,5,6,8,9,60}
e

{4, 5, 6, 8, 9, 60}

In [129]:
print(e)
print(len(e))
print(type(e))

{4, 5, 6, 8, 9, 60}
6
<class 'set'>

In [130]:
del e[0]

TypeError: 'set' object doesn't support item deletion

In [131]:
f={3,5,6,7,8,9}
f

{3, 5, 6, 7, 8, 9}

In [132]:
e+=f

TypeError: unsupported operand type(s) for +=: 'set' and 'set'

In [134]:
#true:when we have non zero non empty data
print(bool(''))
print(bool([]))
print(bool(()))
print(bool({}))

print(bool([4]))
print(bool([()]))
print(bool(' '))

False
False
False
False
True
True
True